@font-face {
    src: url("../fonts/TitilliumWeb-SemiBold.ttf");
}

.root
{
    -fx-background-color : #295988;
}

.button {
    -fx-background-color : #3498db;
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.button: hover {
    -fx-background-color : #ADD100;
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 19;
    -fx-font-weight: bold;
}

.label {
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 20;

}

.label-server {
    -fx-text-fill: white;
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 35;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color : #295988;
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-display-caret:true;
}
