.root
{
    -fx-font-family      : sans-serif;
    -fx-background-color : linear-gradient(to bottom, #517fa4, #243949);
}

.button {
    -fx-background-color : #3498db;
    -fx-text-fill : #000000;
}

.button: hover {
    -fx-background-color : #ADD100;
    -fx-text-fill : white;
}

.label {
    -fx-text-fill : #A7BEE5;
}

.label-settings {
    -fx-text-fill : #00c6ff;
}

.label-settings:hover {
    -fx-text-fill: #00c6ff;
    -fx-text-fill: #ff6a00;
}

.label-connection {
    -fx-text-fill : LimeGreen;
}

.checkbox {
    -fx-text-fill : #A7BEE5;
}

.text-field {
    -fx-background-color : linear-gradient(to top, #FFFFFF, #ECE9E6);
    -fx-font-family: serif;
    -fx-text-fill: #000C40;
    -fx-font-size: 18;
    -fx-display-caret:true;
}

.label-mainlogo {
    -fx-text-fill : #000000;
}
