.root
{
    -fx-font-family      : sans-serif;
    -fx-background-color : linear-gradient(to bottom, #517fa4, #13547a);
}

.button {
    -fx-background-color : #3498db;
    -fx-text-fill : #000000;
}

.button: hover {
    -fx-background-color : #ADD100;
    -fx-text-fill : white;
}

.button-cancel {
    -fx-background-color : #3498db;
    -fx-text-fill : #000000;
}

.button-cancel: hover {
    -fx-background-color : #ff6a00;
    -fx-text-fill : white;
}

.label {
    -fx-text-fill : white;
}

.label-info {
    -fx-text-fill: #A7BEE5;
}

.text-field {
    -fx-background-color : linear-gradient(to top, #FFFFFF, #ECE9E6);
    -fx-font-family: serif;
    -fx-text-fill: #000C40;
    -fx-font-size: 18;
    -fx-display-caret:true;
}
