@font-face {
    src: url("../fonts/TitilliumWeb-SemiBold.ttf");
}

.root
{
    -fx-background-color : #295988;
}

.button {
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-background-color : #3498db;
    -fx-text-fill : white;
    -fx-font-size: 19;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.button: hover {
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-background-color : #ADD100;
    -fx-text-fill : white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.button-cancel {
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-background-color : #3498db;
    -fx-text-fill : white;
    -fx-font-size: 19;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.button-cancel: hover {
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-background-color : #ff6a00;
    -fx-text-fill : white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.label {
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-font-size: 19;
    -fx-text-fill : white;
    -fx-font-weight: bold;
}

.label-info {
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-text-fill: #A7BEE5;
    -fx-font-size: 17;
    -fx-font-weight: normal;
}

.text-field {
    -fx-background-color : #295988;
    -fx-font-family: 'Titillium Web', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-display-caret:true;
}
