.root
{
    -fx-font-family      : sans-serif;
    -fx-background-color : #2C3E50;
}

.button {
    -fx-background-color : skyblue;
    -fx-tex-fill : #2C3E50;
}

.button:pressed
{
    -fx-background-color : SteelBlue;
    -fx-text-fill        : white;
}

.label {
    -fx-text-fill : #A7BEE5;
}

.label-settings {
    -fx-text-fill : DodgerBlue;
}

.label-connection {
    -fx-text-fill : LimeGreen;
}

.checkbox {
    -fx-text-fill : #A7BEE5;
}

.text-field {
    -fx-background-color : Lavender;
}
